:root {
  --bg: #050b18;                       
  --card: rgba(20, 40, 80, 0.25);      
  --card-border: rgba(120,180,255,0.25);
  --card-border2: rgba(120,180,255,0.08);
  --text: #e8f1ff;
  --muted: #8fa9d6;
  --accent: #3fdcff;                  
}


* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at top, #0b1d3a, var(--bg));

  color: var(--text);
  display: flex;
  flex-direction: column;
}

.container,
.rodape {
  position: relative;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 1500px;
  padding: 32px 20px 60px;
  margin: 0 auto;
  flex: 1;
}

/* ===== TOP CARDS ===== */
.top-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  margin-bottom: 48px;
  text-align: center;
}

.card {
  background: var(--card);
  border: 1px solid var(--card-border);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 20px;
}

.card h2 {
  margin: 0 0 8px;
  font-size: 14px;
  color: var(--muted);
  font-weight: 500;
}

.card .value {
  font-size: 28px;
  font-weight: 600;
}

.muted {
  font-size: 14px;
  color: var(--muted);
}

/* ===== PROGRESS ===== */
.progress {
  margin-top: 12px;
  height: 8px;
  background: linear-gradient(90deg, #3fdcff, #4da3ff);


  border-radius: 999px;
  overflow: hidden;
}

.progress span {
  display: block;
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #4da3ff, #7bc6ff);
  transition: width 0.4s ease;
}

/* ===== SEARCH ===== */
.search-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.search {
  width: 100%;
  max-width: 600px;
}

.search input {
  width: 100%;
  padding: 16px 20px;
  font-size: 16px;
  border-radius: 999px;
  border: none;
  outline: none;
  background: var(--card);
  color: var(--text);
  backdrop-filter: blur(10px);
  border: 1px solid var(--card-border);
}

.search input::placeholder {
  color: var(--muted);
}


/* ===== Midle cards ===== */
.rodape {
  width: 100%;
  background: #020817;

  padding: 24px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===== SHORTCUTS ===== */
.shortcuts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
}

.shortcut {
  text-decoration: none;
  color: var(--text);
  background: var(--card);
  border: 1px solid var(--card-border);
  border-radius: 16px;
  padding: 20px 10px;
  text-align: center;
  backdrop-filter: blur(10px);
  transition: transform 0.2s ease, background 0.2s ease;
}

.shortcut:hover {
  transform: translateY(-4px);
  background: rgb(56, 0, 160);

  border-color: #3fdcff;

}

.shortcut .icon {
  font-size: 28px;
  margin-bottom: 8px;
}

.shortcut span {
  font-size: 14px;
}

/* animação retirada de https://prismic.io/blog/css-background-effects*/

.lines-bg {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none; 
}

.lines {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

.line {
  position: relative;
  width: 3px;
  height: 100%;
  overflow: hidden;
}

.line::after {
  content: '';
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 15vh;
  opacity: 0.5;

background: linear-gradient(
  to bottom,
  rgba(0,0,0,0) 0%,
  #3fdcff 70%,
  #9befff 100%
);
filter: drop-shadow(0 0 6px #3fdcff);


  animation: drop 25s infinite;

  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}


.line:nth-child(1)::after { animation-delay: 0s; }
.line:nth-child(2)::after { animation-delay: 0.6s; }
.line:nth-child(3)::after { animation-delay: 1.2s; }
.line:nth-child(4)::after { animation-delay: 1.8s; }
.line:nth-child(5)::after { animation-delay: 2.4s; }
.line:nth-child(6)::after { animation-delay: 3s; }
.line:nth-child(7)::after { animation-delay: 3.6s; }
.line:nth-child(8)::after { animation-delay: 4.2s; }
.line:nth-child(9)::after { animation-delay: 4.8s; }
.line:nth-child(10)::after { animation-delay: 5.4s; }

@keyframes drop {
  from {
    top: -50%;
  }
  to {
    top: 110%;
  }
}
