:root {
  --bg: #050014;
  --bg-2: #0b0026;

  --card: rgba(120, 0, 255, 0.12);
  --card-border: rgba(190, 120, 255, 0.45);
  --card-border2: rgba(190, 120, 255, 0.15);

  --text: #f4eaff;
  --muted: #b48cff;

  --accent: #b400ff;   /* roxo neon */
  --accent-2: #00f0ff; /* cyan neon */
}


* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  background:
    radial-gradient(circle at top, rgba(180,0,255,0.25), transparent 60%),
    radial-gradient(circle at bottom, rgba(0,240,255,0.15), transparent 55%),
    linear-gradient(180deg, var(--bg-2), var(--bg));


  color: var(--text);
  display: flex;
  flex-direction: column;
}

.container,
.rodape {
  position: relative;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 1500px;
  padding: 32px 20px 60px;
  margin: 0 auto;
  flex: 1;
}

/* ===== TOP CARDS ===== */
.top-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  margin-bottom: 48px;
  text-align: center;
}

.card {
  animation: cardGlitch 12s infinite;

  padding: 20px;
  background: var(--card);
  border: 1px solid var(--card-border);
  backdrop-filter: blur(14px);
  border-radius: 16px;
  box-shadow:
    0 0 20px rgba(180,0,255,0.25),
    inset 0 0 20px rgba(180,0,255,0.08);
}

.card h2 {
  margin: 0 0 8px;
  font-size: 14px;
  color: var(--muted);
  font-weight: 500;
}

.card .value {
  font-size: 28px;
  font-weight: 700;
  color: var(--accent-2);
  text-shadow:
    0 0 8px rgba(0,240,255,0.8),
    0 0 16px rgba(0,240,255,0.5);
}
.muted {
  font-size: 14px;
  color: var(--muted);
}

/* ===== PROGRESS ===== */
.progress {
  margin-top: 12px;
  height: 8px;
  background: linear-gradient(90deg, #3fdcff, #4da3ff);


  border-radius: 999px;
  overflow: hidden;
}

.progress p {
  display: block;
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #4da3ff, #7bc6ff);
  transition: width 0.4s ease;
}

/* ===== SEARCH ===== */
.search-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.search {
  width: 100%;
  max-width: 600px;
}

.search input {
  width: 100%;
  padding: 16px 20px;
  font-size: 16px;
  border-radius: 999px;

  outline: none;
 
  color: var(--text);
  backdrop-filter: blur(10px);
  border: 1px solid var(--card-border);
  background: rgba(90, 0, 160, 0.25);
  border: 1px solid var(--card-border);
  box-shadow: 0 0 25px rgba(180,0,255,0.35);
}

.search input::placeholder {
  color: var(--muted);
}

.search input:focus {
  box-shadow:
    0 0 25px rgba(180,0,255,0.7),
    0 0 45px rgba(0,240,255,0.5);
}

/* ===== Midle cards ===== */
.rodape {
  width: 100%;
  background: #020817;

  padding: 24px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===== SHORTCUTS ===== */
.shortcuts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
}

.shortcut {
    background: linear-gradient(
    135deg,
    rgba(120,0,255,0.25),
    rgba(0,240,255,0.12)
  );
  border: 1px solid var(--card-border);
  box-shadow: 0 0 20px rgba(180,0,255,0.35);

  text-decoration: none;
  color: var(--text);


  border-radius: 16px;
  padding: 20px 10px;
  text-align: center;
  backdrop-filter: blur(10px);
  transition: transform 0.2s ease, background 0.2s ease;
}

.shortcut:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow:
    0 0 30px rgba(180,0,255,0.9),
    0 0 60px rgba(0,240,255,0.6);
  background: rgb(56, 0, 160);
  border-color: #3fdcff;


}

.shortcut .icon {
  font-size: 28px;
  margin-bottom: 8px;
}

.shortcut span {
  font-size: 14px;
}

/* animação retirada de https://prismic.io/blog/css-background-effects*/

.lines-bg {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none; 
}

.lines {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

.line {
  position: relative;
  width: 3px;
  height: 100%;
  overflow: hidden;
}

.line::after {
  content: '';
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 15vh;
  opacity: 0.5;

  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0),
    var(--accent),
    var(--accent-2)
  );
  


  animation: drop 25s infinite;

  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}


.line:nth-child(1)::after { animation-delay: 0s; }
.line:nth-child(2)::after { animation-delay: 0.6s; }
.line:nth-child(3)::after { animation-delay: 1.2s; }
.line:nth-child(4)::after { animation-delay: 1.8s; }
.line:nth-child(5)::after { animation-delay: 2.4s; }
.line:nth-child(6)::after { animation-delay: 3s; }
.line:nth-child(7)::after { animation-delay: 3.6s; }
.line:nth-child(8)::after { animation-delay: 4.2s; }
.line:nth-child(9)::after { animation-delay: 4.8s; }
.line:nth-child(10)::after { animation-delay: 5.4s; }

@keyframes drop {
  from {
    top: -50%;
  }
  to {
    top: 110%;
  }
}

/**testando efeito **/
.scanlines {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 2;
  background:
    repeating-linear-gradient(
      to bottom,
      rgba(255,255,255,0.04) 0px,
      rgba(255,255,255,0.02) 1px,
      rgba(0,0,0,0) 2px,
      rgba(0,0,0,0) 4px
    );
  mix-blend-mode: overlay;
  animation: scanmove 8s linear infinite;
}

@keyframes scanmove {
  from { background-position-y: 0; }
  to   { background-position-y: 100px; }
}




@keyframes cardGlitch {
  0%, 97%, 100% { transform: translate(0); }
  98% { transform: translate(-2px, 1px); }
  99% { transform: translate(2px, -1px); }
}
